<section class="my-32">
  <div class="px-4">
    <div class="w-full max-w-3xl mx-auto mb-12">
        <h2 class="text-xl">Private Access Token</h2>
        <p class="pt-5">We require a Private Access Token with <code>repo_deployment</code> scope in order to access deployments data.</p>
        <details class="mt-5 cursor-pointer">
            <summary class="text-sm text-gray-500">What is a Private Access Token?</summary>
            <div class="mt-3">
              <p>From Github's offical documentation:</p>
              <p class="mt-2 italic">Private access tokens (PATs) are an alternative to using passwords for authentication to GitHub when using the GitHub API or the command line.</p><p class="pt-2">Please see the <a class="text-blue-500 hover:text-blue-800 focus:text-blue-800" href="https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token">offical documentation on how to create a Personal Access Token</a></p>
            </div>
        </details>
        <p class="text-red-700 pt-5">Note: your PAT is held as long as your session is in progress. It is NOT STORED permanently. </p>
    </div>
    <form class="w-full max-w-3xl mx-auto" method="POST" action="/authorize">
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-full">
          <label
            class="uppercase tracking-wide text-black text-xs font-semibold"
            for="pat"
          >
            Private Access Token&nbsp;<span class="italic text-red-600">*</span>
          </label>
          <input
            class="w-full bg-gray-200 text-black border border-gray-500 rounded py-4 px-4 mt-4 mb-1"
            id="pat"
            type="text"
            name="pat"
            required
          />
        </div>
      </div>
      <div class="md:w-full">
        <button
          class="text-white bg-blue-800 rounded-lg p-4 hover:bg-blue-500 focus:bg-blue-500 font-semibold"
          type="submit"
        >
          Authorize
        </button>
      </div>
    </form>
  </div>
</section>
