<section class="my-32">
  <div class="flex flex-row font-light justify-center">
    <p class="text-6xl leading-none"><%= error.status %></p>
    <p class="flex flex-col self-end ml-5">
      <span class="text-4xl leading-tight"><%= message %></span>
    </p>
  </div>
  <div class="flex flex-row font-light justify-center mt-16">
    <a
      href="/"
      class="text-white bg-blue-800 rounded-lg p-4 hover:bg-blue-500 focus:bg-blue-500"
      title="Go back to home page"
      >Get me out of here</a
    >
  </div>
</section>