<div class="px-4">
  <div class="max-w-3xl rounded-lg mx-auto my-16 p-16">
    <h1 class="text-2xl font-medium mb-2">Github Environment Manager</h1>
    <p class="my-4 mb-10">
      A simple tool to view and delete environments associated with your
      repositories
    </p>
    <% if(typeof user === "undefined" || user === null) {%>
      <h2 class="font-medium text-sm uppercase mt-16 tracking-wide">
        <%-include("common/cta.ejs", {
          position: "center",
          url:`/authenticate`,
          title:"Sign in with Github",
          text:"Sign in to get started" }
        )%>
      </h2>
    <%}%>
  </div>
</div>
