<div class="px-4">
  <div class="max-w-3xl rounded-lg mx-auto my-16 p-16">
    <h1 class="text-2xl font-medium mb-2">Github Environment Manager</h1>
    <p class="my-4 mb-10">
      A simple tool to view and delete environments associated with your
      repositories
    </p>
    <% if(typeof user === "undefined" || user === null) {%>
      <h2 class="font-medium text-sm uppercase mt-16 tracking-wide">
        <a
          href="/authenticate"
          class="text-white bg-blue-800 rounded-lg p-4 hover:bg-blue-500 focus:bg-blue-500 font-semibold"
          title="Sign in with Github"
          >Sign in to get started</a
        >
      </h2>
    <%}%>
  </div>
</div>
