<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#24292e" />
    <meta name="description" content="Github Environment Manager" />
    <link rel="apple-touch-icon" href="/img/icon.svg" />
    <link rel="icon" type="image/svg+xml" sizes="64x64" href="/img/icon.svg" />
    <title>Github Environment Manager</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div role="main" class="flex h-screen">
      <div class="w-10/12 md:w-auto m-auto"><%- body %></div>
    </div>
  </body>
</html>
