<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#24292e" />
    <meta name="description" content="Github Environment Manager" />
    <link rel="apple-touch-icon" href="/img/icon.svg" />
    <link rel="icon" type="image/svg+xml" sizes="64x64" href="/img/icon.svg" />
    <title>Github Environment Manager</title>
    
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="stylesheet" prefetch href="/css/style.css" />
  </head>
  <body class="antialiased">
    <%- include('common/header', { userObject:null }); %>
    <div class="container mx-auto">
      <%-body %> <%-include common/footer.ejs%>
    </div>
  </body>
</html>
