<div
  class="flex flex-row font-light <% typeof position !== "undefined" && position === 'center' ? 'justify-center':'justify-start'%> my-16"
>
  <a
    href="<%=url%>"
    class="text-white font-semibold bg-black rounded-lg p-4 hover:bg-gray-800 focus:bg-gray-800"
    title="<%=title%>"
  >
    <%=text%>
  </a>
</div>
