<div
  class="flex flex-row font-light <% typeof position !== "undefined" && position === 'center' ? 'justify-center':'justify-start'%> my-16"
>
  <a
    href="<%=url%>"
    class="text-white font-semibold bg-blue-800 rounded-lg p-4 hover:bg-blue-500 focus:bg-blue-500"
    title="<%=title%>"
  >
    <%=text%>
  </a>
</div>
