<footer class="border-t" role="contentinfo">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 mt-3 md:mt-16">
    <ul class="flex flex-row justify-between">
      <li class="flex flex-col text-sm">
        <div>
          <span class="text-gray-600"
            >&#127279;&nbsp;<%= new Date().getFullYear()%>&nbsp;</span
          ><a class="text-blue-500 hover:text-blue-800 focus:text-blue-800" title="Link to ypk github profile" href="https://www.github.com/ypk">ypk</a>
        </div>
        <p class="text-gray-600">Everything is open sourced</p>
      </li>
      <li class="">
        <a class="text-blue-500 hover:text-blue-800 focus:text-blue-800" title="Link to github.com" href="https://github.com">Github.com</a>
      </li>
    </ul>
</div>  
</footer>