<footer>
  <div class="border-t" role="contentinfo">
    <div class="mt-16">
      <ul class="flex flex-row justify-between">
        <li class="flex flex-col text-sm">
          <div>
            <span class="text-gray-600"
              >&#127279;&nbsp;<%= new Date().getFullYear()%>&nbsp;</span
            ><a class="text-blue-500" href="https://www.github.com/ypk">ypk</a>
          </div>
          <p class="text-gray-600">Everything is open sourced</p>
        </li>
        <li class="">
          <a class="text-blue-500" href="https://github.com">Github.com</a>
        </li>
      </ul>
    </div>
  </div>  
</footer>